---
layout: post
slug: "tags"
title: "我的简历"
noDate: "true"
comments: "false"
---
<link rel="stylesheet" href="./index.css">

<article class="markdown-body" id="preview" data-open-title="Hide Preview" data-closed-title="Show Preview" style="padding-bottom: 578px;"><div><h2 data-source-line="1" id="个人信息"><a class="markdownIt-Anchor" href="#个人信息"></a>个人信息</h2><html><table style="border: none;">
  <tr style="border: none;">
      <td style="border: none;">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</td>
      <td style="border: none;">马文卓</td>
      <td style="border: none;">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</td>
      <td style="border: none;">女</td>
      <td rowspan="5" style="border: none;">照片</td>
  </tr>
  <tr style="border: none;">
      <td style="border: none;">出生日期：</td>
      <td style="border: none;">1994.10.03</td>
      <td style="border: none;">民&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;族：</td>
      <td style="border: none;">汉族</td>
  </tr>
  <tr style="border: none;">
      <td style="border: none;">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</td>
      <td style="border: none;">本科</td>
      <td style="border: none;">手机号码：</td>
      <td style="border: none;">15962425462</td>
  </tr>
  <tr style="border: none;">
      <td style="border: none;">毕业院校：</td>
      <td style="border: none;">江汉大学文理学院</td>
      <td style="border: none;">专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业：</td>
      <td style="border: none;">信息管理与信息系统</td>
  </tr>
  <tr style="border: none;">
      <td style="border: none;">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</td>
      <td colspan="3" style="border: none;">790462465@qq.com</td>
  </tr>
  <tr style="border: none;">
      <td style="border: none;">个人博客：</td>
      <td colspan="4" style="border: none;"><a href="https://kola828.github.io">https://kola828.github.io</a></td>
  </tr></table>
</html><h2 data-source-line="42" id="工作经历"><a class="markdownIt-Anchor" href="#工作经历"></a>工作经历</h2><h4 data-source-line="43" id="杭州铜板街互联网金融信息服务有限公司20183~20192"><a class="markdownIt-Anchor" href="#杭州铜板街互联网金融信息服务有限公司20183~20192"></a>杭州铜板街互联网金融信息服务有限公司（2018.3~2019.2）</h4><p data-source-line="44">成立于2012年，是国内领先的互联网金融信息服务提供商。杭州独角兽公司。</p><h4 data-source-line="45" id="苏州融鼎科创信息技术有限公司20169~20182"><a class="markdownIt-Anchor" href="#苏州融鼎科创信息技术有限公司20169~20182"></a>苏州融鼎科创信息技术有限公司（2016.9~2018.2)</h4><p data-source-line="46">由顺融资本投资、蒲公英孵化器旗下的IT服务商。主要为一些企业提供公众号，后台管理系统开发的技术支持。</p><h2 data-source-line="48" id="项目经验"><a class="markdownIt-Anchor" href="#项目经验"></a>项目经验</h2><h3 data-source-line="50" id="画容httpshallerycn"><a class="markdownIt-Anchor" href="#画容httpshallerycn"></a>画容（<a href="https://hallery.cn/%EF%BC%89" target="_blank">https://hallery.cn/）</a></h3><p data-source-line="51">画容是的一个提供给公司内部运营等人员使用的制作网页web工具，旨在更方便制作，发布网页，减少网页的后期维护成本。此项目选用<code>React</code>作为前端框架，并提取了大量可复用的公共组件。后端使用<code>node</code> + <code>Express</code>，数据库使用<code>Mysql</code>，<code>MongoDB</code>和<code>redis</code>。实现了非专业人员也可以轻松的制作网页，并可以和同事协同分工。并可以一键发布至线上。</p><h5 data-source-line="52" id="项目职责"><a class="markdownIt-Anchor" href="#项目职责"></a>项目职责：</h5><ul data-source-line="53"><li>找回密码，修改密码，登录验证码，部落行为等功能的前后端实现。</li><li>封装了列表，按钮，手风琴，<code>Alter</code>，<code>Confirm</code>等可复用的<code>React</code>组件。</li><li>添加了编辑器轮播对象，及只需在编辑器中增加轮播对象，并设置相关参数，便可以网页中新增一个轮播。（<a href="https://juejin.im/post/5bcea08df265da0ad13bba6b#comment" target="_blank">相关介绍文章https://juejin.im/post/5bcea08df265da0ad13bba6b#comment</a>）</li><li>封装了<code>compo-cli</code>新增组件对象工具，只需运行<code>compo --init</code>即可快速创建编辑器对象项目包。</li></ul><hr><h3 data-source-line="58" id="图乐贷h5版本httpsxdm51tulecomloanindexhtml"><a class="markdownIt-Anchor" href="#图乐贷h5版本httpsxdm51tulecomloanindexhtml"></a>图乐贷H5版本(<a href="https://xdm.51tule.com/loan/index.html" target="_blank">https://xdm.51tule.com/loan/index.html</a>)</h3><p data-source-line="59">图乐贷是一个网络贷款平台，旨在“让信用变得更有价值”。改项目前端选用<code>React</code> + <code>ajax</code> + 内部UI框架wheel。实现了用户借款的全流程，包括登录注册，人像识别，身份证上传，信息填写，借款等。</p><h5 data-source-line="61" id="项目职责-2"><a class="markdownIt-Anchor" href="#项目职责-2"></a>项目职责：</h5><ul data-source-line="62"><li>负责维护整个项目迭代，实现产品需求。</li><li>前端页面绘制，适应各种手机屏幕，兼容安卓，<code>ios</code>各类手机。</li><li>使用<code>rc-upload</code>插件，处理视频的录制和上传兼容性问题。</li><li>使用<code>ajax</code>与后端进行通信，并根据返回结果处理前端逻辑</li></ul><hr><h3 data-source-line="67" id="卡说-微信公众号后台管理系统"><a class="markdownIt-Anchor" href="#卡说-微信公众号后台管理系统"></a>卡说--微信公众号后台管理系统</h3><p data-source-line="68">此项目是基于微信公众号的管理平台，用户可以使用其查看微信公众号关注人
数，文章阅读的变化及文章的发布与管理等功能，是一个综合高效的公众号管理后台。</p><h5 data-source-line="70" id="项目职责-3"><a class="markdownIt-Anchor" href="#项目职责-3"></a>项目职责：</h5><ul data-source-line="71"><li>选用<code>webpack</code>+<code>vue-cli</code>+<code>element-ui</code>构建项目整体开发框架。</li><li>利用 axios 与后台开发人员完成数据交互，高质量的在前台页面渲染数据。</li><li>使用 <code>stylus</code>作为<code>css</code>预处理框架编写页面样式，以便更高效快捷的完成开发。</li><li>使用<code>ueditor</code>，<code>echart</code>等第三方插件，并对其进行二次开发使其高度还原视觉稿和完成产品需求。</li><li>配合测试人员进行测试，完成 PC 端多浏览器的适配，打造高性能的管理后台。</li></ul><hr><h3 data-source-line="77" id="联智云健康微信公众号"><a class="markdownIt-Anchor" href="#联智云健康微信公众号"></a>联智云健康微信公众号</h3><p data-source-line="78">此项目是基于微信公众号的一个健康管理服务类平台，用户可以通过此平台进
行线上预约体检，查看健康档案等功能。</p><h5 data-source-line="80" id="项目职责-4"><a class="markdownIt-Anchor" href="#项目职责-4"></a>项目职责：</h5><ul data-source-line="81"><li>利用 <code>gulp</code> 搭建前端开发环境，使前端开发更高效。</li><li>高效完成 UI 设计的页面，根据产品经理要求制定出符合标准规范的代码实现方案。</li><li>使用<code>ajax</code> 完成前后端交互，并处理响应的前端逻辑。</li><li>使用<code>iscroll</code>,<code>swiper</code>等前端插件完成相应的产品需求。</li><li>解决<code>html</code>页面在<code>andriod</code>与<code>ios</code>移动端的适配问题，实现移动端多机型的适配。</li><li>接入微信<code>JS-SDK</code>，完成微信分享到朋友圈，好友等功能。</li></ul><h2 data-source-line="88" id="核心能力及特长"><a class="markdownIt-Anchor" href="#核心能力及特长"></a>核心能力及特长</h2><ol data-source-line="89"><li>熟练掌握HTML5技术开发，语义化的标签和<code>css3的</code>高级样式应用，可以根据 UI 设计合理布局高质完成页面。</li><li>掌握 <code>less</code>，<code>sass</code>，<code>stylus</code>等<code>css</code>预处理框架。熟悉弹性盒布局，标准盒模型以及 IE 怪异盒模型</li><li>能熟练的使用git对代码进行管理。</li><li>熟悉<code>React</code>，掌握<code>vue</code>框架，并能够使用其进行项目开发。</li><li>熟练掌握 <code>JavaScript</code>，了解作用域，闭包，<code>AST</code>等概念，了解一些<code>es6</code>的语法,比如<code>promise</code>，<code>class</code>，<code>let</code>等。</li><li>了解前端常用的一些库，插件，比如<code>element-UI</code>，<code>echarts</code>,<code>ant</code>,能够即可使用</li><li>了解node，简单了解<code>mysql</code>，<code>MongoDB</code>，<code>redis</code>,可以进行一些简单的接口开发。</li><li>具备前端自动化，webpack，gulp等工具项目实战经验</li><li>熟练使用各种调试、抓包工具，能独立分析、解决和归纳问题。</li></ol><h2 data-source-line="99" id="自我评价"><a class="markdownIt-Anchor" href="#自我评价"></a>自我评价</h2><ul data-source-line="101"><li>富有解决问题的能力和学习能力，在工作过程中遇到问题与难点，能通过各种渠道寻求方法解决问题，并对其进行吸收。</li><li>喜欢在空余时间逛技术社区，学习新技术。使用社区提供的公共 api 对其进行重构。</li><li>有良好的沟通能力，能够很好的与项目经理进行沟通，理解项目需求。与后端工程师沟通，更好的完成前后端数据的传输。与视觉沟通，完美的重现 UI 页面。</li><li>工作态度端正，在空闲时间能够自觉地学习新知识。有长期在互联网行业发展的意向，有一定的抗压能力。</li></ul><h2 data-source-line="107" id="致谢"><a class="markdownIt-Anchor" href="#致谢"></a>致谢</h2><p data-source-line="108">感谢您花时间阅读我的简历，期待能有机会和您共事。</p></div></article><body>


<!--<div class="instagram itemscope">-->
<!--<a href="https://www.instagram.com/litten225/" target="_blank" class="open-ins">图片来自instagram，正在加载中…</a>-->
<!--</div>-->




