---
layout: post
slug: "tags"
title: "测试"
noDate: "true"
comments: "false"
---
<link rel="stylesheet" href="./index.css">

<div class="photos-btn-wrap">
    <table>
        <tr>
            <td>姓名：</td>
            <td>出生日期：1994.10.03</td>
            <td rowspan="3">1</td>
        </tr>
        <tr>
            <td>手机：15962425462</td>
            <td>邮箱: 790462465@qq.com</td>
        </tr>
        <tr>
            <td>学历：本科</td>
            <td>专业：信息管理与信息系统</td>
        </tr>
    </table>
</div>
















<!--<div class="instagram itemscope">-->
    <!--<a href="https://www.instagram.com/litten225/" target="_blank" class="open-ins">图片来自instagram，正在加载中…</a>-->
<!--</div>-->




