---
layout: post
slug: "tags"
title: "我的项目"
noDate: "true"
comments: "false"
---
<link rel="stylesheet" href="./index.css">

<div class="photos-btn-wrap">
    <p>此处是我写来练手的项目</p>
    <p>1,使用vue重构的vue社区手机端，github地址：<a href="https://github.com/kola828/vue.js-web">https://github.com/kola828/vue.js-web</a></p>
    <img class="vue-img" src="/img/vue-index.png">
    <p>2,使用vue-cli脚手架搭建的后台模板，github地址：<a href="https://github.com/kola828/personal-backstage">https://github.com/kola828/personal-backstage</a></p>
    <img class="vue-img" src="/img/pre-notelist.png">
</div>


<!--<div class="instagram itemscope">-->
<!--<a href="https://www.instagram.com/litten225/" target="_blank" class="open-ins">图片来自instagram，正在加载中…</a>-->
<!--</div>-->




